body {
  margin: 0;
}

.splash {
  background-color: #2b3e42;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.splash .message {
  text-align: center;
  margin-top: 25%;
  color: white;
  font-size: 24px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
}

.btn-danger {
    background-color: #BB1819 !important;
}

.landing {
    font-family: 'Montserrat', sans-serif;
    
}
.landing > h1 {
    color: #164FA9;
    text-align: center;
    font-size: 48pt;
    font-weight: bolder;
}

.landing:before {
    overflow-y: hidden;
    min-width: 400px;
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("/img/background2.png");
}

.landing-mid {
    position: absolute;
    bottom: 50%;
}

.play-params {
    text-align: center;
}

.play-button {
    width: 200px;
    height: 60px;
    padding: 14px !important;
    font-size: x-large !important;
}

.play-area {
    padding-top: 80px;
    padding-bottom: 10px
}

.play-area:before {
    overflow-y: hidden;
    min-width: 400px;
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("/img/background2.png");
}

.play-area > div {
    display: table;
}

.go-home-button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 100px;
}

.new-game-button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 100px;
}

.turn-button-area {
}

.turn-button-area > .row {
    display: flex;
    height: 100%;
}

.turn-button-area .btn {
    height: 100%;
    opacity: 0.8;
    width: 100px;
    margin: 10px;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
}

.turn-button-area .btn:hover,.btn:active,.btn:focus {
    opacity: 1.0;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
}

.turn-button-red {
    color: #BB1819;
}

.turn-button-yellow {
    color: #F5E051;
}

.board {
    display: inline-block;
}

.board > .row {
    display: flex;
}

.location {
    margin: 10px;
}

.location-empty {
    height: 100px;
    width: 100px;;
    border-color: #164FA9;  
    border-radius: 50px; 
    border-width: 2px;
    border-style: solid;
}

.location-red {
    height: 100px;
    width: 100px;
    background-color: #BB1819;
    border-color: #BB1819;  
    border-radius: 50px; 
}

.location-yellow {
    height: 100px;
    width: 100px;
    background-color: #F5E051;
    border-color: #F5E051;  
    border-radius: 50px;    
}

.location-winning {
    border-color: lightseagreen;  
    border-width: 10px;
    border-style: solid;
}